* {
    margin: 0;
    box-sizing: border-box;
}

body {
	height: 100vh;
	background: linear-gradient(to bottom, #91112b, #29030a);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

head {
    margin: 1rem;
}

h1 {
    text-align: center;
    font-size: 8rem;
	color: #ffe0e7;
}

section {
    margin: 1rem;
}

article {
    font-size: 10rem;
    color: #ffe0e7;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #91112b, 0 0 40px #91112b, 0 0 50px #91112b, 0 0 60px #91112b, 0 0 70px #91112b;
    }
    
    to {
      text-shadow: 0 0 15px #fff, 0 0 25px #93233a, 0 0 35px #93233a, 0 0 45px #93233a, 0 0 55px #93233a, 0 0 65px #93233a, 0 0 75px #93233a;
    }
}

img {
	display: block;
	margin: 0 auto;
	width: 50%;
}

footer {
	margin: 1rem;
	text-align: center;
}
